@using Microsoft.AspNet.Identity;
@model BigSchool.ViewModels.FollowingViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <ul class="course">
        @foreach (var follow in Model.Followings)
        {
            <br />
            <li>
                <div class="tungu">
                    <ul>
                        <li style="position:absolute;height:30px;width:200px; margin-left: 50px; margin-top:20px; list-style:none;">@follow.Name</li>
                    </ul>
                 
                   
                </div>
                <br />
                <a href="#" data-followee-id="@follow.Id" data-follower-id="@User.Identity.GetUserId()" class="js-unfollow">UnFollow</a>
            </li>
        }
    </ul>
</div>

@section scripts{
    <script>
        $('.js-unfollow').click(function () {
            var link = $(this);
            bootbox.confirm("Are you sure to cancel?", function () {
                var followeeId = link.attr('data-followee-id');
                var followerId = link.attr('data-follower-id');
                $.ajax({
                    url: "/DTOs/unfollow/" + followerId + "/" + followeeId,
                    method: "DELETE"
                }).done(function () {
                    link.parents("li").fadeOut(function () {
                        this.remove();
                    });
                }).fail(function () {
                    alert("Something failed");
                });
            });
        });
    </script>
}
<style>
    .tungu{
        position:absolute;
    }
</style>